openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Open Source Scans API
servers:
- url: https://api.ams.fortify.com
tags:
- name: Open Source Scans
paths:
  /api/v3/releases/{releaseId}/open-source-scans/start-scan:
    post:
      tags:
      - Open Source Scans
      summary: Start an open source scan
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: OpenSourceScansV3_StartScan
      parameters:
      - name: releaseId
        in: path
        description: The release id
        required: true
        schema:
          type: integer
          format: int32
      - name: fragNo
        in: query
        description: -1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: The offset of the bytes sent. 0 indicates the first bytes
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostStartScanResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PostStartScanResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PostStartScanResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PostStartScanResponse'
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Error:
      description: Error
      type: object
      properties:
        errorCode:
          format: int32
          description: The error code
          type: integer
        message:
          description: The error message
          type: string
    ErrorResponse:
      description: Error Response
      type: object
      properties:
        errors:
          description: List of errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
    PostStartScanResponse:
      description: Post Start Scan Response
      type: object
      properties:
        scanId:
          format: int32
          description: The id of the scan that was created
          type: integer
        messages:
          description: List of informational messages
          type: array
          items:
            type: string
        legalMessage:
          description: Legal Disclaimer Message
          type: string
