openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Notifications API
servers:
- url: https://api.ams.fortify.com
tags:
- name: Notifications
paths:
  /api/v3/notifications/unread:
    get:
      tags:
      - Notifications
      summary: Get a list of unread notifications
      description: 'Allowed Scopes: api-tenant, manage-notifications'
      operationId: NotificationsV3_GetUnreadNotifications
      parameters:
      - name: filters
        in: query
        description: 'A delimited list of field filters.

          <br /><br />Field name and value should be separated by a colon (:).

          <br /><br />Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value

          <br /><br />Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2'
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        description: The field name to order the results by.
        required: false
        schema:
          type: string
      - name: orderByDirection
        in: query
        description: The direction to order the results by. ASC and DESC are valid values.
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Comma separated list of fields to return.
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: Offset of the starting record. 0 indicates the first record.
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum records to return. The maximum value allowed is 50.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
  /api/v3/notifications/read:
    get:
      tags:
      - Notifications
      summary: Get a list of read notifications
      description: 'Allowed Scopes: api-tenant, manage-notifications'
      operationId: NotificationsV3_GetReadNotifications
      parameters:
      - name: filters
        in: query
        description: 'A delimited list of field filters.

          <br /><br />Field name and value should be separated by a colon (:).

          <br /><br />Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value

          <br /><br />Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2'
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        description: The field name to order the results by.
        required: false
        schema:
          type: string
      - name: orderByDirection
        in: query
        description: The direction to order the results by. ASC and DESC are valid values.
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Comma separated list of fields to return.
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: Offset of the starting record. 0 indicates the first record.
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum records to return. The maximum value allowed is 50.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
  /api/v3/notifications/markasread:
    post:
      tags:
      - Notifications
      summary: Marks the notification(s) as read
      description: 'Allowed Scopes: api-tenant, manage-notifications'
      operationId: NotificationsV3_MarkNotificaitonsAsRead
      responses:
        '204':
          description: NoContent
        '401':
          description: Unauthorized
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkNotificaitonsAsReadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/MarkNotificaitonsAsReadRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/MarkNotificaitonsAsReadRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/MarkNotificaitonsAsReadRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MarkNotificaitonsAsReadRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MarkNotificaitonsAsReadRequest'
        description: MarkNotificaitonsAsReadRequest model
        required: true
components:
  schemas:
    ErrorResponse:
      description: Error Response
      type: object
      properties:
        errors:
          description: List of errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
    MarkNotificaitonsAsReadRequest:
      required:
      - messageIds
      type: object
      properties:
        messageIds:
          description: The list of message ids to mark as read
          type: array
          items:
            format: int32
            type: integer
    Error:
      description: Error
      type: object
      properties:
        errorCode:
          format: int32
          description: The error code
          type: integer
        message:
          description: The error message
          type: string
    Notification:
      description: Notification
      type: object
      properties:
        messageId:
          format: int32
          description: The message id
          type: integer
        subject:
          description: The subject
          type: string
        message:
          description: The message
          type: string
        triggerType:
          description: The NotificationTriggerType. Values can be obtained by calling GET /api/v3/lookup-items?type=NotificationTriggerTypes
          type: string
        triggerTypeId:
          format: int32
          description: The NotificationTriggerType id. Values can be obtained by calling GET /api/v3/lookup-items?type=NotificationTriggerTypes
          type: integer
        createdDate:
          format: date-time
          description: The created date
          type: string
        read:
          description: Indicates if the message has been marked read
          type: boolean
    NotificationListResponse:
      description: Generic List Response
      type: object
      properties:
        items:
          description: The list of items
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        totalCount:
          format: int32
          description: Total count of items
          type: integer
        offset:
          format: int32
          description: Offset of the starting record. 0 indicates the first record.
          type: integer
        limit:
          format: int32
          description: Maximum records to return.
          type: integer
