openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Lookup Items API
servers:
- url: https://api.ams.fortify.com
tags:
- name: Lookup Items
paths:
  /api/v3/lookup-items:
    get:
      tags:
      - Lookup Items
      summary: Returns a list of lookup items for the given type
      description: 'Allowed Scopes: api-tenant, view-tenant-data


        For LanguageLevels, the group field indicates the TechnologyTypeId.'
      operationId: LookupItemsV3_GetLookupItems
      parameters:
      - name: type
        in: query
        description: The type of lookup items to return
        required: false
        schema:
          type: string
          enum:
          - All
          - AnalysisStatusTypes
          - ApplicationTypes
          - ApiRoles
          - AssessmentTypes
          - AttributeDataTypes
          - AttributeTypes
          - AuditActionTypes
          - AuditPreferenceTypes
          - AuditTemplateConditionTypes
          - BusinessCriticalityTypes
          - ConcurrentRequestThreadsTypes
          - DataExportTypes
          - DayOfWeekTypes
          - DastAutomatedScanPolicies
          - DastAutomatedScanTypes
          - DynamicMobileScanTypeAuditTemplateFieldTypes
          - DynamicScanAuthenticationTypes
          - DynamicScanEnvironmentFacingTypes
          - DynamicScanWebServiceTypes
          - EntitlementFrequencyTypes
          - GeoLocations
          - LanguageLevels
          - MobileScanAuditPreferenceTypes
          - MobileScanEnvironmentTypes
          - MobileScanExternalDeviceTypes
          - MobileScanFrameworkTypes
          - MobileScanPlatformTypes
          - MobileScanRoleTypes
          - MultiFactorAuthorizationTypes
          - NetworkAuthenticationType
          - NotificationTriggerTypes
          - OpenSourceScanTypeAuditTemplateFieldTypes
          - PassFailReasonTypes
          - RepeatScheduleTypes
          - ReportFormats
          - ReportStatusTypes
          - ReportTemplateTypes
          - ReportTypes
          - Roles
          - ScanMethodTypes
          - ScanPreferenceTypes
          - ScanStatusTypes
          - ScanTypes
          - SDLCStatusTypes
          - StartScanMethodTypes
          - StaticScanTypeAuditTemplateFieldTypes
          - TechnologyTypes
          - TimeZones
          - TwoFactorInboxes
          - VulnerabilitySeverityTypes
          - SastScanPolicies
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupItemListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupItemListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/LookupItemListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/LookupItemListResponse'
        '401':
          description: Unauthorized
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
components:
  schemas:
    LookupItemListResponse:
      description: Generic List Response
      type: object
      properties:
        items:
          description: The list of items
          type: array
          items:
            $ref: '#/components/schemas/LookupItem'
        totalCount:
          format: int32
          description: Total count of items
          type: integer
        offset:
          format: int32
          description: Offset of the starting record. 0 indicates the first record.
          type: integer
        limit:
          format: int32
          description: Maximum records to return.
          type: integer
    LookupItem:
      description: Lookup Item
      type: object
      properties:
        value:
          description: The value property
          type: string
        text:
          description: The text property
          type: string
        group:
          description: The group property
          type: string
