openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer User Application Access…
servers:
- url: https://api.ams.fortify.com
tags:
- name: UserApplicationAccess
paths:
  /api/v3/user-application-access/{userId}:
    get:
      tags:
      - UserApplicationAccess
      summary: Get a list of applications a user has access to
      description: 'Allowed Scopes: api-tenant, view-users'
      operationId: UserApplicationAccessV3_GetUserApplicationAccess
      parameters:
      - name: userId
        in: path
        description: The user id can be obtained by calling GET /api/v3/users
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApplicationAccessListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/UserApplicationAccessListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/UserApplicationAccessListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/UserApplicationAccessListResponse'
        '401':
          description: Unauthorized
        '404':
          description: NotFound
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
    post:
      tags:
      - UserApplicationAccess
      summary: Create user access for the given user and application(s)
      description: 'Allowed Scopes: api-tenant, manage-users'
      operationId: UserApplicationAccessV3_PostUserApplicationAccess
      parameters:
      - name: userId
        in: path
        description: The user id can be obtained by calling GET /api/v3/users
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '202':
          description: Accepted
        '401':
          description: Unauthorized
        '404':
          description: NotFound
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUserApplicationAccessRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PostUserApplicationAccessRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PostUserApplicationAccessRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PostUserApplicationAccessRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostUserApplicationAccessRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostUserApplicationAccessRequest'
        description: PostUserApplicationAccessRequest model
        required: true
  /api/v3/user-application-access/{userId}/{applicationId}:
    delete:
      tags:
      - UserApplicationAccess
      summary: Delete user access for the given user and application
      description: 'Allowed Scopes: api-tenant, manage-users'
      operationId: UserApplicationAccessV3_DeleteUserApplicationAccess
      parameters:
      - name: userId
        in: path
        description: The user id can be obtained by calling GET /api/v3/users
        required: true
        schema:
          type: integer
          format: int32
      - name: applicationId
        in: path
        description: The application id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '202':
          description: Accepted
        '401':
          description: Unauthorized
        '404':
          description: NotFound
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
components:
  schemas:
    PostUserApplicationAccessRequest:
      description: Post User Application Access Request
      required:
      - applicationId
      type: object
      properties:
        applicationId:
          format: int32
          description: The application id
          type: integer
    UserApplicationAccess:
      description: User Application Access
      type: object
      properties:
        applicationId:
          format: int32
          description: The application id
          type: integer
        applicationName:
          description: The application name
          type: string
        userId:
          format: int32
          description: The user id
          type: integer
        accessMethod:
          description: The access method
          type: string
    UserApplicationAccessListResponse:
      description: Generic List Response
      type: object
      properties:
        items:
          description: The list of items
          type: array
          items:
            $ref: '#/components/schemas/UserApplicationAccess'
        totalCount:
          format: int32
          description: Total count of items
          type: integer
        offset:
          format: int32
          description: Offset of the starting record. 0 indicates the first record.
          type: integer
        limit:
          format: int32
          description: Maximum records to return.
          type: integer
