openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Tenant Heat Maps API
servers:
- url: https://api.ams.fortify.com
tags:
- name: TenantHeatMaps
paths:
  /api/v3/tenant-heat-maps:
    get:
      tags:
      - TenantHeatMaps
      summary: Retrieve a list of tenant heat map values
      description: 'Allowed Scopes: api-tenant, view-tenant-data'
      operationId: TenantHeatMapsV3_GetTenantHeatMap
      parameters:
      - name: sdlcStatus
        in: query
        description: SDLC status of releases to include.
        required: true
        schema:
          type: string
          enum:
          - Production
          - QA
          - Development
          - Retired
      - name: daysFrom
        in: query
        description: Days back to get data
        required: false
        schema:
          type: integer
          format: int32
      - name: filters
        in: query
        description: 'A delimited list of field filters.

          <br /><br />Field name and value should be separated by a colon (:).

          <br /><br />Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value

          <br /><br />Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2'
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        description: The field name to order the results by
        required: false
        schema:
          type: string
      - name: orderByDirection
        in: query
        description: The direction to order the results by. ASC and DESC are valid values.
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Comma separated list of fields to return
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: Offset of the starting record. 0 indicates the first record
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum records to return. The maximum value allowed is 50.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantHeatMap'
            text/json:
              schema:
                $ref: '#/components/schemas/TenantHeatMap'
            application/xml:
              schema:
                $ref: '#/components/schemas/TenantHeatMap'
            text/xml:
              schema:
                $ref: '#/components/schemas/TenantHeatMap'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
components:
  schemas:
    Error:
      description: Error
      type: object
      properties:
        errorCode:
          format: int32
          description: The error code
          type: integer
        message:
          description: The error message
          type: string
    ErrorResponse:
      description: Error Response
      type: object
      properties:
        errors:
          description: List of errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantHeatMap:
      description: Tenant Heat Map
      type: object
      properties:
        starRating:
          format: int32
          description: Star rating of application
          type: integer
        businessCriticalityId:
          format: int32
          description: Business Criticality Id of application
          type: integer
        businessCriticality:
          description: Business Criticality of application
          type: string
        projectCountText:
          description: The project count text
          type: string
        url:
          description: Url to the heat map
          type: string
