openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Mobile Scans API
servers:
- url: https://api.ams.fortify.com
tags:
- name: Mobile Scans
paths:
  /api/v3/releases/{releaseId}/mobile-scans/scan-setup:
    get:
      tags:
      - Mobile Scans
      summary: Get mobile scan setup details
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: MobileScansV3_GetMobileScanSetup
      parameters:
      - name: releaseId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileScanSetup'
            text/json:
              schema:
                $ref: '#/components/schemas/MobileScanSetup'
            application/xml:
              schema:
                $ref: '#/components/schemas/MobileScanSetup'
            text/xml:
              schema:
                $ref: '#/components/schemas/MobileScanSetup'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
    put:
      tags:
      - Mobile Scans
      summary: Saves mobile scan setup details
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: MobileScansV3_PutMobileScanSetup
      parameters:
      - name: releaseId
        in: path
        description: The release id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
        '401':
          description: Unauthorized
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PutMobileScanSetupResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutMobileScanSetupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutMobileScanSetupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PutMobileScanSetupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PutMobileScanSetupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PutMobileScanSetupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutMobileScanSetupRequest'
        description: PutMobileScanRequest model
        required: true
  /api/v3/releases/{releaseId}/mobile-scans/start-scan:
    post:
      tags:
      - Mobile Scans
      summary: Starts a mobile scan for the given release
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: MobileScansV3_Scan
      parameters:
      - name: releaseId
        in: path
        description: The release id
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: The start date for the scan in MM/dd/yyyy HH:mm format
        required: true
        schema:
          type: string
          format: date-time
      - name: assessmentTypeId
        in: query
        description: The assessment type id for the scan<br /><br />Values can be obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
        required: true
        schema:
          type: integer
          format: int32
      - name: frameworkType
        in: query
        description: The framework type id. Only iOS and Android are supported at this time
        required: true
        schema:
          type: string
          enum:
          - iOS
          - Android
      - name: timeZone
        in: query
        description: The time zone<br /><br />Values can be obtained by calling GET /api/v3/lookup-items?type=TimeZones
        required: true
        schema:
          type: string
      - name: fragNo
        in: query
        description: -1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: The offset of the bytes sent. 0 indicates the first bytes
        required: true
        schema:
          type: integer
          format: int64
      - name: entitlementId
        in: query
        description: The entitlement id to consume
        required: true
        schema:
          type: integer
          format: int32
      - name: entitlementFrequencyType
        in: query
        description: The entitlement frequency type
        required: true
        schema:
          type: string
          enum:
          - SingleScan
          - Subscription
      - name: fileName
        in: query
        description: The uploaded file name with extension
        required: false
        schema:
          type: string
      - name: isRemediationScan
        in: query
        description: Indicates if the scan is a remediation scan. Value defaults to false if not specified.
        required: false
        schema:
          type: boolean
      - name: isBundledAssessment
        in: query
        description: Indicates if the assessment is a bundled assessment. If not supplied legacy behavior will apply. Value defaults to null if not specified.
        required: false
        schema:
          type: boolean
      - name: parentAssessmentTypeId
        in: query
        description: The parent assessment type id for the bundled assessment. If not supplied legacy behavior will apply
        required: false
        schema:
          type: integer
          format: int32
      - name: scanMethodType
        in: query
        description: The method of starting a scan
        required: false
        schema:
          type: string
          enum:
          - IDE
          - CICD
          - Other
          - API
      - name: scanTool
        in: query
        description: The tool used for scanning
        required: false
        schema:
          type: string
      - name: scanToolVersion
        in: query
        description: The version for the scan tool used for scanning
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMobileScanResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PostMobileScanResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PostMobileScanResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PostMobileScanResponse'
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v3/releases/{releaseId}/mobile-scans/import-scan:
    put:
      tags:
      - Mobile Scans
      summary: Saves the contents to import scan file
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: MobileScansV3_PutImportScan
      parameters:
      - name: releaseId
        in: path
        description: Release Id of the scan to import
        required: true
        schema:
          type: integer
          format: int32
      - name: fragNo
        in: query
        description: -1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: The offset of the bytes sent. 0 indicates the first bytes
        required: true
        schema:
          type: integer
          format: int64
      - name: fileLength
        in: query
        description: The number of bytes of the file being imported
        required: true
        schema:
          type: integer
          format: int64
      - name: importScanSessionId
        in: query
        description: The unique importScanSessionId to use for the session provided by GET /api/v3/releases/{releaseId}/import-scan-session-id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutImportScanResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PutImportScanResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PutImportScanResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PutImportScanResponse'
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      description: Error Response
      type: object
      properties:
        errors:
          description: List of errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
    PostMobileScanResponse:
      description: Post Mobile Scan Response
      type: object
      properties:
        scanId:
          format: int32
          description: The id of the scan that was created
          type: integer
    Error:
      description: Error
      type: object
      properties:
        errorCode:
          format: int32
          description: The error code
          type: integer
        message:
          description: The error message
          type: string
    MobileScanSetup:
      description: StaticScanSetup
      type: object
      properties:
        assessmentTypeId:
          format: int32
          description: The AssessmentTypeId. Values can be obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        entitlementId:
          format: int32
          description: The assigned entitlementId
          type: integer
        entitlementFrequencyType:
          description: The EntitlementFrequencyType.
          enum:
          - SingleScan
          - Subscription
          type: string
        frameworkType:
          description: The framework type
          type: string
        auditPreferenceType:
          description: The AuditPreferenceType.
          type: string
        timeZone:
          description: The timeZone.
          type: string
    PutMobileScanSetupResponse:
      description: Put Mobile Scan Setup Response
      type: object
      properties:
        success:
          description: Indicates if the mobile scan was updated
          type: boolean
        errors:
          description: A list of errors encountered
          type: array
          items:
            type: string
    PutMobileScanSetupRequest:
      description: Put Mobile Scan Setup Request
      required:
      - assessmentTypeId
      - frameworkType
      - timeZone
      type: object
      properties:
        assessmentTypeId:
          format: int32
          description: The assessment type id. Values can be obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        frameworkType:
          description: The framework type
          enum:
          - iOS
          - Android
          type: string
        timeZone:
          description: The timezone. Values can be obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        userAccountsRequried:
          description: Indicates if user accounts are required
          type: boolean
        userAccounts:
          description: List of user accounts
          type: array
          items:
            $ref: '#/components/schemas/MobileScanUserAccount'
        notes:
          description: Notes
          type: string
        vpnRequired:
          description: Indicates if VPN is required
          type: boolean
        vpnUserName:
          description: The VPN username
          type: string
        vpnPassword:
          description: The VPN password
          type: string
        hasMultiFactorAuthentication:
          description: Indicates if multi-factor authentication is used
          type: boolean
        multiFactorAuthenticationNotes:
          description: Multi-factor authentication notes
          type: string
        intrusionDetectionSystem:
          description: Indicates if intrusion detection system is used
          type: boolean
        intrusionPreventionSystem:
          description: Indicates if intrusion prevention system is used
          type: boolean
        webApplicationFirewall:
          description: Indicates if web application firewall is used
          type: boolean
        proxyServers:
          description: Indicates if proxy servers are used
          type: boolean
        loadBalancer:
          description: Indicates if load balancer is used
          type: boolean
        preAssessmentCall:
          description: Indicates if the customer should be contacted prior to beginning the assessment
          type: boolean
        auditPreferenceType:
          description: The audit preference type
          enum:
          - Manual
          - None
          type: string
    MobileScanUserAccount:
      description: Mobile Scan User Account
      type: object
      properties:
        username:
          description: The username
          type: string
        password:
          description: The password
          type: string
        roleType:
          description: The role type
          enum:
          - User
          - Guest
          - Admin
          - Other
          type: string
        oneTimePassword:
          description: The one time password
          type: string
    PutImportScanResponse:
      description: PutImportScanResponse
      type: object
      properties:
        referenceId:
          description: Reference Id
          type: string
        scanId:
          format: int32
          description: The scan id
          type: integer
