openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Dast Automated Scans API
servers:
- url: https://api.ams.fortify.com
tags:
- name: DAST Automated Scans
paths:
  /api/v3/releases/{releaseId}/dast-automated-scans/scan-setup:
    get:
      tags:
      - DAST Automated Scans
      summary: Get Dast Automated scan setup details
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: DastAutomatedScansV3_GetDastAutomatedScanSetup
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDastAutomatedScanSetupResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetDastAutomatedScanSetupResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetDastAutomatedScanSetupResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/GetDastAutomatedScanSetupResponse'
        '401':
          description: Unauthorized
        '404':
          description: NotFound
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
  /api/v3/releases/{releaseId}/dast-automated-scans/website-scan-setup:
    put:
      tags:
      - DAST Automated Scans
      summary: Saves Dast Automated Website scan setup details
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: DastAutomatedScansV3_PutDastAutomatedWebsiteScanSetup
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWebsiteScanSetupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWebsiteScanSetupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWebsiteScanSetupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWebsiteScanSetupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWebsiteScanSetupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWebsiteScanSetupRequest'
        description: PutDastAutomatedWebsiteScanSetupRequest model
        required: true
  /api/v3/releases/{releaseId}/dast-automated-scans/workflow-scan-setup:
    put:
      tags:
      - DAST Automated Scans
      summary: Saves Dast Automated Workflow scan setup details
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: DastAutomatedScansV3_PutDastAutomatedWorkflowScanSetup
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWorkflowScanSetupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWorkflowScanSetupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWorkflowScanSetupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWorkflowScanSetupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWorkflowScanSetupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedWorkflowScanSetupRequest'
        description: PutDastAutomatedWorkflowScanSetupRequest model
        required: true
  /api/v3/releases/{releaseId}/dast-automated-scans/openapi-scan-setup:
    put:
      tags:
      - DAST Automated Scans
      summary: Saves Dast Automated Open API scan setup details
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: DastAutomatedScansV3_PutDastAutomatedOpenApiScanSetup
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedOpenApiScanSetupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedOpenApiScanSetupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedOpenApiScanSetupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedOpenApiScanSetupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedOpenApiScanSetupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedOpenApiScanSetupRequest'
        description: PutDastAutomatedOpenApiScanSetupRequest model
        required: true
  /api/v3/releases/{releaseId}/dast-automated-scans/graphql-scan-setup:
    put:
      tags:
      - DAST Automated Scans
      summary: Saves Dast Automated GraphQL scan setup details
      operationId: DastAutomatedScansV3_PutDastAutomatedGraphQlScanSetup
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGraphQLScanSetupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGraphQLScanSetupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGraphQLScanSetupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGraphQLScanSetupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGraphQLScanSetupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGraphQLScanSetupRequest'
        description: PutDastAutomatedGraphQLScanSetupRequest model
        required: true
  /api/v3/releases/{releaseId}/dast-automated-scans/grpc-scan-setup:
    put:
      tags:
      - DAST Automated Scans
      summary: Saves Dast Automated GRPC scan setup details
      operationId: DastAutomatedScansV3_PutDastAutomatedGrpcScanSetup
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGrpcScanSetupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGrpcScanSetupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGrpcScanSetupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGrpcScanSetupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGrpcScanSetupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedGrpcScanSetupRequest'
        description: PutDastAutomatedGrpcScanSetupRequest model
        required: true
  /api/v3/releases/{releaseId}/dast-automated-scans/postman-scan-setup:
    put:
      tags:
      - DAST Automated Scans
      summary: Saves Dast Automated Postman scan setup details
      operationId: DastAutomatedScansV3_PutDastAutomatedPostmanScanSetup
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Ok
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedPostmanScanSetupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedPostmanScanSetupRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedPostmanScanSetupRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedPostmanScanSetupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedPostmanScanSetupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutDastAutomatedPostmanScanSetupRequest'
        description: PutDastAutomatedPostmanScanSetupRequest model
        required: true
  /api/v3/releases/{releaseId}/dast-automated-scans/scan-setup/file-upload:
    patch:
      tags:
      - DAST Automated Scans
      summary: Uploads a Dast Automated file to release
      operationId: DastAutomatedScansV3_PatchDastAutomatedScanFileUpload
      parameters:
      - name: releaseId
        in: path
        description: Release ID
        required: true
        schema:
          type: integer
          format: int32
      - name: dastFileType
        in: query
        description: DAST Automated file type
        required: true
        schema:
          type: string
          enum:
          - OpenAPIDefinition
          - PostmanCollection
          - GraphQLDefinition
          - GRPCDefinition
          - WorkflowDrivenMacro
          - LoginMacro
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchDastAutomatedScanManifestResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PatchDastAutomatedScanManifestResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PatchDastAutomatedScanManifestResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PatchDastAutomatedScanManifestResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
  /api/v3/releases/{releaseId}/dast-automated-scans/start-scan:
    post:
      tags:
      - DAST Automated Scans
      summary: Starts a DAST Automated scan using the current scan setup settings
      description: 'Allowed Scopes: api-tenant, start-scans'
      operationId: DastAutomatedScansV3_StartDastAutomatedScan
      parameters:
      - name: releaseId
        in: path
        description: Release ID of the scan to start
        required: true
        schema:
          type: integer
          format: int32
      - name: networkName
        in: query
        description: Network Name
        required: false
        schema:
          type: string
      - name: fallbackToActiveEntitlement
        in: query
        description: Use existing active entitlement if specified entitlement is expired. Value defaults to true if not specified.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartDastAutomatedScanResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StartDastAutomatedScanResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/StartDastAutomatedScanResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/StartDastAutomatedScanResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
components:
  schemas:
    GraphQl:
      type: object
      properties:
        sourceType:
          description: Specifies whether source is file ID or URL
          enum:
          - FileId
          - Url
          type: string
        sourceUrn:
          description: File ID or URL
          type: string
        schemeType:
          description: Api scheme type (Http, Https, or HttpHttps)
          type: string
        host:
          description: API host name or IP address with port number
          type: string
        servicePath:
          description: Directory path for the API service
          type: string
    PutDastAutomatedPostmanScanSetupRequest:
      required:
      - collectionFileIds
      - assessmentTypeId
      - entitlementId
      - entitlementFrequencyType
      - dynamicScanEnvironmentFacingType
      - timeZone
      type: object
      properties:
        collectionFileIds:
          description: Postman collection file ID. Value is obtained by uploading Postman collection
          type: array
          items:
            format: int32
            type: integer
        timeBoxInHours:
          format: int32
          description: Time limit in hours for Automated scan duration
          type: integer
        assessmentTypeId:
          format: int32
          description: Assessment type ID. Values are obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        entitlementId:
          format: int32
          description: Entitlement ID. Values are obtained by calling GET /api/v3/tenant-entitlements
          type: integer
        entitlementFrequencyType:
          description: Entitlement frequency type
          enum:
          - SingleScan
          - Subscription
          type: string
        dynamicScanEnvironmentFacingType:
          description: Type of environment the server is running in
          enum:
          - Internal
          - External
          type: string
        timeZone:
          description: Timezone. Values are obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        requiresNetworkAuthentication:
          description: True if network connection is required to scan the site, otherwise false
          type: boolean
        networkAuthenticationSettings:
          $ref: '#/components/schemas/NetworkAuthenticationSettings'
          description: Network authentication settings
        requestFalsePositiveRemoval:
          description: True if requesting one-time false positive removal, otherwise false
          type: boolean
        networkName:
          type: string
    Grpc:
      type: object
      properties:
        fileId:
          format: int32
          description: gRPC file ID. Value is obtained by uploading proto file
          type: integer
        schemeType:
          description: API scheme type (Http, Https, or HttpHttps)
          type: string
        host:
          description: API host name or IP address with port number
          type: string
        servicePath:
          description: Directory path for the API service
          type: string
    OpenApi:
      type: object
      properties:
        sourceType:
          description: Specifies whether source is file ID or URL
          enum:
          - FileId
          - Url
          type: string
        sourceUrn:
          description: File ID or URL
          type: string
        apiKey:
          description: API key
          type: string
    Website:
      type: object
      properties:
        dynamicSiteUrl:
          description: The dynamic site url
          type: string
        requestLoginMacroFileCreation:
          description: True if requesting one-time creation of login macro file by testing team, otherwise false
          type: boolean
        loginMacroFileCreationDetails:
          $ref: '#/components/schemas/LoginMacroFileCreationDetails'
          description: Login macro file creation details
        enableRedundantPageDetection:
          description: True to enable comparison of page structure to identify and exclude processing of redundant resources, otherwise false
          type: boolean
        exclusionsList:
          description: List of exclusions.
          type: array
          items:
            $ref: '#/components/schemas/Exclusion'
    PutDastAutomatedGraphQLScanSetupRequest:
      required:
      - sourceType
      - sourceUrn
      - assessmentTypeId
      - entitlementId
      - entitlementFrequencyType
      - dynamicScanEnvironmentFacingType
      - timeZone
      type: object
      properties:
        sourceType:
          description: Specifies whether source is file ID or URL
          enum:
          - FileId
          - Url
          type: string
        sourceUrn:
          description: File ID or URL
          type: string
        schemeType:
          description: Api scheme type (Http, Https, or HttpHttps)
          type: string
        host:
          description: API host name or IP address with port number
          type: string
        servicePath:
          description: Directory path for the API service
          type: string
        timeBoxInHours:
          format: int32
          description: Time limit in hours for Automated scan duration
          type: integer
        assessmentTypeId:
          format: int32
          description: Assessment type ID. Values are obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        entitlementId:
          format: int32
          description: Entitlement ID. Values are obtained by calling GET /api/v3/tenant-entitlements
          type: integer
        entitlementFrequencyType:
          description: Entitlement frequency type
          enum:
          - SingleScan
          - Subscription
          type: string
        dynamicScanEnvironmentFacingType:
          description: Type of environment the server is running in
          enum:
          - Internal
          - External
          type: string
        timeZone:
          description: Timezone. Values are obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        requiresNetworkAuthentication:
          description: True if network connection is required to scan the site, otherwise false
          type: boolean
        networkAuthenticationSettings:
          $ref: '#/components/schemas/NetworkAuthenticationSettings'
          description: Network authentication settings
        requestFalsePositiveRemoval:
          description: True if requesting one-time false positive removal, otherwise false
          type: boolean
        networkName:
          type: string
    Postman:
      type: object
      properties:
        collectionFileIds:
          description: Postman collection file ID. Value is obtained by uploading Postman collection
          type: array
          items:
            format: int32
            type: integer
    PutDastAutomatedOpenApiScanSetupRequest:
      required:
      - sourceType
      - sourceUrn
      - assessmentTypeId
      - entitlementId
      - entitlementFrequencyType
      - dynamicScanEnvironmentFacingType
      - timeZone
      type: object
      properties:
        sourceType:
          description: Specifies whether source is file ID or URL
          enum:
          - FileId
          - Url
          type: string
        sourceUrn:
          description: File ID or URL
          type: string
        apiKey:
          description: API key
          type: string
        timeBoxInHours:
          format: int32
          description: Time limit in hours for Automated scan duration
          type: integer
        assessmentTypeId:
          format: int32
          description: Assessment type ID. Values are obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        entitlementId:
          format: int32
          description: Entitlement ID. Values are obtained by calling GET /api/v3/tenant-entitlements
          type: integer
        entitlementFrequencyType:
          description: Entitlement frequency type
          enum:
          - SingleScan
          - Subscription
          type: string
        dynamicScanEnvironmentFacingType:
          description: Type of environment the server is running in
          enum:
          - Internal
          - External
          type: string
        timeZone:
          description: Timezone. Values are obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        requiresNetworkAuthentication:
          description: True if network connection is required to scan the site, otherwise false
          type: boolean
        networkAuthenticationSettings:
          $ref: '#/components/schemas/NetworkAuthenticationSettings'
          description: Network authentication settings
        requestFalsePositiveRemoval:
          description: True if requesting one-time false positive removal, otherwise false
          type: boolean
        networkName:
          type: string
    LoginMacroFileCreationDetails:
      type: object
      properties:
        primaryUsername:
          description: 'Login macro settings: primary username to login with'
          type: string
        primaryPassword:
          description: 'Login macro settings: primary account password to login with'
          type: string
        secondaryUsername:
          description: 'Login macro settings: secondary username to login with'
          type: string
        secondaryPassword:
          description: 'Login macro settings: secondary account password to login with'
          type: string
    PatchDastAutomatedScanManifestResponse:
      type: object
      properties:
        fileId:
          format: int32
          type: integer
        hosts:
          type: array
          items:
            type: string
    WorkflowDriven:
      type: object
      properties:
        workflowDrivenMacro:
          description: Workflow driven macro fileIds
          type: array
          items:
            $ref: '#/components/schemas/WorkflowDrivenMacrosResponse'
    FileDetails:
      type: object
      properties:
        fileId:
          format: int32
          description: 'Uploaded file details: file Id'
          type: integer
        fileName:
          description: 'Uploaded file details: file Name'
          type: string
        fileType:
          description: 'Uploaded file details: file Type'
          type: string
    Exclusion:
      type: object
      properties:
        value:
          description: URL fragment to exclude from scanning.
          type: string
    NetworkAuthenticationSettings:
      type: object
      properties:
        networkAuthenticationType:
          description: Network authentication type. Values are obtained by calling GET /api/v3/lookup-items?type=NetworkAuthenticationType
          enum:
          - Basic
          - NTLM
          - Kerberos
          - Digest
          - Automatic
          - ADFS_CBT
          type: string
        userName:
          description: Network username
          type: string
        password:
          description: Network password
          type: string
    ErrorResponse:
      description: Error Response
      type: object
      properties:
        errors:
          description: List of errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
    StartDastAutomatedScanResponse:
      description: Start DAST Automated scan response
      type: object
      properties:
        scanId:
          format: int32
          description: The id of the scan that was started
          type: integer
    GetDastAutomatedScanSetupResponse:
      type: object
      properties:
        assessmentTypeId:
          format: int32
          description: Assessment type ID. Values are obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        timeZone:
          description: Timezone. Values are obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        dynamicScanEnvironmentFacingType:
          description: Type of environment the server is running in
          enum:
          - Internal
          - External
          type: string
        entitlementId:
          format: int32
          description: Entitlement ID. Values are obtained by calling GET /api/v3/tenant-entitlements
          type: integer
        entitlementFrequencyType:
          description: Entitlement frequency type
          enum:
          - SingleScan
          - Subscription
          type: string
        scanType:
          description: Scan type. Values can be obtained by calling GET /api/v3/lookup-items?type=DastAutomatedScanTypes
          type: string
        policy:
          description: Policy type to scan the site. Values are obtained by calling api/v3/lookup-items?type=DastAutomatedScanPolicies
          enum:
          - Standard
          - Api
          - CriticalsAndHighs
          - PassiveScan
          type: string
        websiteAssessment:
          $ref: '#/components/schemas/Website'
          description: Website assessment
        apiAssessment:
          $ref: '#/components/schemas/API'
          description: API assessment
        timeBoxInHours:
          format: int32
          description: Time limit in hours for Automated scan duration
          type: integer
        workflowdrivenAssessment:
          $ref: '#/components/schemas/WorkflowDriven'
          description: Workflow driven assessment
        loginMacroFileId:
          format: int32
          description: Login macro file ID. Value is obtained by uploading login macro
          type: integer
        requiresSiteAuthentication:
          description: True if site authentication is required to scan the site, otherwise false
          type: boolean
        allowFormSubmissions:
          description: True to allow form submissions, otherwise false
          type: boolean
        allowSameHostRedirects:
          description: True to allow HTTP (:80) and HTTPS (:443) of the specified scan host, otherwise false
          type: boolean
        restrictToDirectoryAndSubdirectories:
          description: True to restrict to directory and subdirectories, otherwise false
          type: boolean
        requiresNetworkAuthentication:
          description: True if network connection is required to scan the site, otherwise false
          type: boolean
        networkAuthenticationSettings:
          $ref: '#/components/schemas/NetworkAuthenticationSettings'
          description: Network authentication settings
        fileDetails:
          description: Uploaded file details
          type: array
          items:
            $ref: '#/components/schemas/FileDetails'
        requestFalsePositiveRemoval:
          description: True if requesting one-time false positive removal, otherwise false
          type: boolean
        hasUtilizedAdditionalServices:
          description: True When the prior DAST Automated scan completed successfully using Add on services, otherwise false
          type: boolean
        networkName:
          type: string
    WorkflowDrivenMacrosRequest:
      required:
      - fileId
      - allowedHosts
      type: object
      properties:
        fileId:
          format: int32
          description: Workflow-driven macro file ID. Value is obtained by uploading workflow-driven macro
          type: integer
        allowedHosts:
          description: Hostname or IP address with port number. Value is obtained by uploading workflow-driven macro
          type: array
          items:
            type: string
    PutDastAutomatedWorkflowScanSetupRequest:
      required:
      - workflowDrivenMacro
      - policy
      - assessmentTypeId
      - entitlementId
      - entitlementFrequencyType
      - dynamicScanEnvironmentFacingType
      - timeZone
      type: object
      properties:
        workflowDrivenMacro:
          description: Workflow driven macro fileIds
          type: array
          items:
            $ref: '#/components/schemas/WorkflowDrivenMacrosRequest'
        policy:
          description: Policy type to scan the website. Values are obtained by calling api/v3/lookup-items?type=DastAutomatedScanPolicies
          enum:
          - Standard
          - CriticalsAndHighs
          - PassiveScan
          type: string
        assessmentTypeId:
          format: int32
          description: Assessment type ID. Values are obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        entitlementId:
          format: int32
          description: Entitlement ID. Values are obtained by calling GET /api/v3/tenant-entitlements
          type: integer
        entitlementFrequencyType:
          description: Entitlement frequency type
          enum:
          - SingleScan
          - Subscription
          type: string
        dynamicScanEnvironmentFacingType:
          description: Type of environment the server is running in
          enum:
          - Internal
          - External
          type: string
        timeZone:
          description: Timezone. Values are obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        requiresNetworkAuthentication:
          description: True if network connection is required to scan the site, otherwise false
          type: boolean
        networkAuthenticationSettings:
          $ref: '#/components/schemas/NetworkAuthenticationSettings'
          description: Network authentication settings
        requestFalsePositiveRemoval:
          description: True if requesting one-time false positive removal, otherwise false
          type: boolean
        networkName:
          type: string
    PutDastAutomatedWebsiteScanSetupRequest:
      required:
      - dynamicSiteUrl
      - policy
      - assessmentTypeId
      - entitlementId
      - entitlementFrequencyType
      - dynamicScanEnvironmentFacingType
      - timeZone
      type: object
      properties:
        dynamicSiteUrl:
          description: Dynamic site URL
          type: string
        enableRedundantPageDetection:
          description: True to enable comparison of page structure to identify and exclude processing of redundant resources, otherwise false
          type: boolean
        loginMacroFileId:
          format: int32
          description: Login macro file ID. Value is obtained by uploading login macro
          type: integer
        requiresSiteAuthentication:
          description: True if site authentication is required to scan the site, otherwise false
          type: boolean
        exclusionsList:
          description: List of exclusions.
          type: array
          items:
            $ref: '#/components/schemas/Exclusion'
        restrictToDirectoryAndSubdirectories:
          description: True to restrict to directory and subdirectories, otherwise false
          type: boolean
        policy:
          description: Policy type to scan the site. Values are obtained by calling api/v3/lookup-items?type=DastAutomatedScanPolicies
          enum:
          - Standard
          - CriticalsAndHighs
          - PassiveScan
          type: string
        timeBoxInHours:
          format: int32
          description: Time limit in hours for Automated scan duration
          type: integer
        requestLoginMacroFileCreation:
          description: True if requesting one-time creation of login macro file by testing team, otherwise false
          type: boolean
        loginMacroFileCreationDetails:
          $ref: '#/components/schemas/LoginMacroFileCreationDetails'
          description: Login macro file creation details
        assessmentTypeId:
          format: int32
          description: Assessment type ID. Values are obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        entitlementId:
          format: int32
          description: Entitlement ID. Values are obtained by calling GET /api/v3/tenant-entitlements
          type: integer
        entitlementFrequencyType:
          description: Entitlement frequency type
          enum:
          - SingleScan
          - Subscription
          type: string
        dynamicScanEnvironmentFacingType:
          description: Type of environment the server is running in
          enum:
          - Internal
          - External
          type: string
        timeZone:
          description: Timezone. Values are obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        requiresNetworkAuthentication:
          description: True if network connection is required to scan the site, otherwise false
          type: boolean
        networkAuthenticationSettings:
          $ref: '#/components/schemas/NetworkAuthenticationSettings'
          description: Network authentication settings
        requestFalsePositiveRemoval:
          description: True if requesting one-time false positive removal, otherwise false
          type: boolean
        networkName:
          type: string
    Error:
      description: Error
      type: object
      properties:
        errorCode:
          format: int32
          description: The error code
          type: integer
        message:
          description: The error message
          type: string
    API:
      type: object
      properties:
        apiType:
          description: Api type
          enum:
          - NotSet
          - OpenApi
          - GRPC
          - GraphQL
          - Postman
          type: string
        openAPI:
          $ref: '#/components/schemas/OpenApi'
          description: OpenApi scan details
        graphQL:
          $ref: '#/components/schemas/GraphQl'
          description: GraphQL Api scan details
        gRPC:
          $ref: '#/components/schemas/Grpc'
          description: gRPC Api scan details
        postman:
          $ref: '#/components/schemas/Postman'
          description: Postman Api scan details
    WorkflowDrivenMacrosResponse:
      type: object
      properties:
        fileId:
          format: int32
          description: Workflow-driven macro file ID. Value is obtained by uploading workflow-driven macro
          type: integer
        allowedHosts:
          description: Hostname or IP address with port number. Value is obtained by uploading workflow-driven macro
          type: array
          items:
            type: string
    PutDastAutomatedGrpcScanSetupRequest:
      required:
      - fileId
      - schemeType
      - host
      - servicePath
      - assessmentTypeId
      - entitlementId
      - entitlementFrequencyType
      - dynamicScanEnvironmentFacingType
      - timeZone
      type: object
      properties:
        fileId:
          format: int32
          description: gRPC file ID. Value is obtained by uploading proto file
          type: integer
        schemeType:
          description: API scheme type (Http, Https, or HttpHttps)
          type: string
        host:
          description: API host name or IP address with port number
          type: string
        servicePath:
          description: Directory path for the API service
          type: string
        timeBoxInHours:
          format: int32
          description: Time limit in hours for Automated scan duration
          type: integer
        assessmentTypeId:
          format: int32
          description: Assessment type ID. Values are obtained by calling GET /api/v3/releases/{releaseId}/assessment-types
          type: integer
        entitlementId:
          format: int32
          description: Entitlement ID. Values are obtained by calling GET /api/v3/tenant-entitlements
          type: integer
        entitlementFrequencyType:
          description: Entitlement frequency type
          enum:
          - SingleScan
          - Subscription
          type: string
        dynamicScanEnvironmentFacingType:
          description: Type of environment the server is running in
          enum:
          - Internal
          - External
          type: string
        timeZone:
          description: Timezone. Values are obtained by calling GET /api/v3/lookup-items?type=TimeZones
          type: string
        requiresNetworkAuthentication:
          description: True if network connection is required to scan the site, otherwise false
          type: boolean
        networkAuthenticationSettings:
          $ref: '#/components/schemas/NetworkAuthenticationSettings'
          description: Network authentication settings
        requestFalsePositiveRemoval:
          description: True if requesting one-time false positive removal, otherwise false
          type: boolean
        networkName:
          type: string
