openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Audit Template API
servers:
- url: https://api.ams.fortify.com
tags:
- name: AuditTemplate
paths:
  /api/v3/audittemplate/globalaudittemplates:
    get:
      tags:
      - AuditTemplate
      summary: Returns a list of global audit templates
      description: 'Allowed Scopes: api-tenant, manage-issues'
      operationId: AuditTemplateV3_GetGlobalAuditTemplates
      parameters:
      - name: scanType
        in: query
        description: The scan type<br /><br />Values can be obtained by calling GET /api/v3/lookup-items?type=ScanTypes
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditTemplateListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AuditTemplateListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuditTemplateListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AuditTemplateListResponse'
        '401':
          description: Unauthorized
        '404':
          description: NotFound
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
    put:
      tags:
      - AuditTemplate
      summary: Creates/Update Global Audit templates
      description: 'Allowed Scopes: api-tenant, manage-issues'
      operationId: AuditTemplateV3_PutGlobalAuditTemplates
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AuditTemplateResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutAuditTemplateFilterRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutAuditTemplateFilterRequest'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutAuditTemplateFilterRequest'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutAuditTemplateFilterRequest'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutAuditTemplateFilterRequest'
        required: true
components:
  schemas:
    PutAuditTemplateFilterRequest:
      required:
      - scanType
      - action
      type: object
      properties:
        scanType:
          description: The scan type
          enum:
          - Static
          - Dynamic
          - Mobile
          - Monitoring
          - Network
          - OpenSource
          - SASTAviator
          type: string
        scanTypeId:
          format: int32
          description: Scan Type Id. Values can be obtained by calling GET /api/v3/lookup-items?type=ScanTypes
          type: integer
        action:
          $ref: '#/components/schemas/PutAuditTemplateAction'
          description: The action
        conditions:
          description: The conditions
          type: array
          items:
            $ref: '#/components/schemas/PutAuditTemplateCondition'
    PutAuditTemplateCondition:
      description: AuditTemplateCondition
      type: object
      properties:
        conditionType:
          description: The condition type
          enum:
          - Contains
          - DoesNotContain
          - Equals
          - DoesNotEqual
          - Regex
          type: string
        field:
          description: The field
          type: string
        fieldValue:
          description: The field value
          type: string
        operationType:
          description: The Operation type
          enum:
          - And
          - Or
          type: string
    AuditTemplateCondition:
      type: object
      properties:
        field:
          type: string
        conditionType:
          type: string
        fieldValue:
          type: string
        operationType:
          type: string
    AuditTemplateAction:
      type: object
      properties:
        actionType:
          type: string
        severity:
          type: string
        severityId:
          format: int32
          type: integer
        suppressedStatus:
          type: string
    PutAuditTemplateAction:
      description: AuditTemplateAction
      required:
      - actionType
      type: object
      properties:
        actionType:
          description: The Action type
          enum:
          - Suppress
          - SetSeverity
          type: string
        severity:
          description: Severity Needs to be set if the Action is Set Severity
          enum:
          - Critical
          - High
          - Medium
          - Low
          type: string
        severityId:
          format: int32
          description: Severity Id
          type: integer
        suppressedStatus:
          type: string
    AuditTemplateListResponse:
      description: Generic List Response
      type: object
      properties:
        items:
          description: The list of items
          type: array
          items:
            $ref: '#/components/schemas/AuditTemplate'
        totalCount:
          format: int32
          description: Total count of items
          type: integer
        offset:
          format: int32
          description: Offset of the starting record. 0 indicates the first record.
          type: integer
        limit:
          format: int32
          description: Maximum records to return.
          type: integer
    AuditTemplate:
      type: object
      properties:
        applicationId:
          format: int32
          type: integer
        scanType:
          type: string
        scanTypeId:
          format: int32
          type: integer
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/AuditTemplateCondition'
        action:
          $ref: '#/components/schemas/AuditTemplateAction'
    AuditTemplateResponse:
      type: object
      properties:
        applicationId:
          format: int32
          description: The id of the application that was created
          type: integer
        success:
          description: Indicates if the application was created
          type: boolean
        errors:
          description: A list of errors encountered
          type: array
          items:
            type: string
