openapi: 3.2.0
info:
  version: v3
  title: Fortify on Demand Web API Explorer Fortify On Demand…
servers:
- url: https://api.ams.fortify.com
tags:
- name: FortifyOnDemandConnectNetworks
paths:
  /api/v3/fortify-on-demand-connect-networks:
    get:
      tags:
      - FortifyOnDemandConnectNetworks
      summary: Retrieve a list of Fortify on Demand Connect networks
      description: 'Allowed Scopes: api-tenant, view-tenant-data'
      operationId: FortifyOnDemandConnectNetworksV3_GetNetworks
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FortifyConnectApiNetworkListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FortifyConnectApiNetworkListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/FortifyConnectApiNetworkListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/FortifyConnectApiNetworkListResponse'
        '401':
          description: Unauthorized
        '429':
          description: TooManyRequests
        '500':
          description: InternalServerError
components:
  schemas:
    FortifyConnectApiNetwork:
      type: object
      properties:
        networkName:
          type: string
        userName:
          type: string
    FortifyConnectApiNetworkListResponse:
      description: Generic List Response
      type: object
      properties:
        items:
          description: The list of items
          type: array
          items:
            $ref: '#/components/schemas/FortifyConnectApiNetwork'
        totalCount:
          format: int32
          description: Total count of items
          type: integer
        offset:
          format: int32
          description: Offset of the starting record. 0 indicates the first record.
          type: integer
        limit:
          format: int32
          description: Maximum records to return.
          type: integer
